@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body {
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
body div:nth-child(1) {
    background-color: hsl(228, 56%, 26%);
    border-radius: 16px 60px 16px 16px;
    padding: 16px;
}
main {
    width: 80%;
    max-width: 400px;
}
.icons {
    display: flex;
}
.icon {
    background-color: hsl(229, 57%, 11%);
    padding: 12px;
    margin-right: 8px;
    border-radius: 8px;
}
body div:nth-child(2) {
    background-color: hsl(228, 56%, 26%);
    border-radius: 16px;
    padding: 20px;
    margin-top: 15px;
}
p {
    color: white;
    text-align: center;
}
progress  {
    width: 95%;
    margin: auto;
    background-color: hsl(229, 57%, 11%);
    border-radius: 24px;
}
::-webkit-progress-bar {
    background-color: hsl(229, 57%, 11%);
    border-radius: 24px;
}
::-webkit-progress-value {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 24px;
}
::-webkit-progress-inner-element {
    padding: 2px;
}
body div:nth-child(2) div {
    background-color: #fff;
    width: 150px;
    padding: 20px;
    margin: auto;
    margin-bottom: -50px;
    border-radius: 10px;
}
body div:nth-child(2) div span:nth-child(1) {
    font-weight: 700;
    font-size: 28px;
}
section {
    display: flex;
}
@media screen and (min-width:1024px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    body div:nth-child(2) div {
        background-color: #fff;
        width: 100%;
        padding: 20px;
        margin: auto;
        margin-top: -50px;
        border-radius: 10px;
    }
    .second {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-right: 200px;
        margin: auto;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: grid;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}